<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="UTF-8">
        <title>{{title}}</title>
        <meta name="description" content="{{systemDescription}}">
        <meta name="viewport" content="width=device-width">
        {{#each favicon}}
            <link rel="icon" href="/img/{{this}}">
        {{/each}}
        {{#each css}}
            <link rel="stylesheet" href="/css/{{this}}">
        {{/each}}
    </head>
    <body {{#each classCss}}class="{{this}}"{{/each}}>
        {{{body}}}
        {{#each js}}
            <script src="/js/{{this}}"></script>
        {{/each}}
    </body>
</html>